aiohappyeyeballs==2.6.1
aiohttp==3.12.15
aiosignal==1.4.0
annotated-types==0.7.0
anyio==4.11.0
asgiref==3.10.0
asttokens==3.0.0
attrs==25.3.0
av==13.1.0
beautifulsoup4==4.14.3
bleach==6.2.0
certifi==2025.10.5
cffi==2.0.0
chardet==5.2.0
charset-normalizer==3.4.3
click==8.3.1
cloup==3.0.8
contourpy==1.3.3
cryptography==46.0.3
cycler==0.12.1
Cython==3.2.2
dataclasses-json==0.6.7
decorator==5.2.1
distro==1.9.0
Django==5.2.7
django-allauth==65.13.1
django-environ==0.12.0
django-markdownify==0.9.5
django-markdownx==4.0.9
executing==2.2.1
faiss-cpu==1.12.0
fonttools==4.60.1
frozenlist==1.7.0
glcontext==3.0.0
greenlet==3.2.4
h11==0.16.0
httpcore==1.0.9
httpx==0.28.1
httpx-sse==0.4.1
idna==3.10
ipython==9.6.0
ipython_pygments_lexers==1.1.1
isosurfaces==0.1.2
jedi==0.19.2
jiter==0.11.0
joblib==1.5.2
jsonpatch==1.33
jsonpointer==3.0.0
jsonschema==4.25.1
jsonschema-specifications==2025.9.1
kiwisolver==1.4.9
langchain==0.3.27
langchain-community==0.3.30
langchain-core==0.3.78
langchain-openai==0.3.34
langchain-text-splitters==0.3.11
langsmith==0.4.32
manim==0.19.1
ManimPango==0.6.1
mapbox_earcut==2.0.0
Markdown==3.9
markdown-it-py==4.0.0
markdown-katex==202406.1035
markdown2==2.5.4
marshmallow==3.26.1
matplotlib==3.9.4
matplotlib-inline==0.1.7
mcp==1.22.0
mdurl==0.1.2
moderngl==5.12.0
moderngl-window==3.1.1
mpmath==1.3.0
multidict==6.6.4
mypy_extensions==1.1.0
mysqlclient==2.2.7
networkx==3.6
numpy==2.3.3
openai==2.1.0
orjson==3.11.3
packaging==25.0
parso==0.8.5
pdf2image==1.17.0
pexpect==4.9.0
pillow==11.3.0
prompt_toolkit==3.0.52
propcache==0.4.0
ptyprocess==0.7.0
pure_eval==0.2.3
pycairo==1.29.0
pycparser==2.23
pydantic==2.11.10
pydantic-settings==2.11.0
pydantic_core==2.33.2
pydub==0.25.1
pyglet==2.1.11
pyglm==2.8.3
Pygments==2.19.2
PyJWT==2.10.1
pylatexenc==2.10
PyMuPDF==1.26.4
PyMySQL==1.1.2
pyobjc-core==12.1
pyobjc-framework-Cocoa==12.1
pyparsing==3.2.5
PyPDF2==3.0.1
python-dateutil==2.9.0.post0
python-dotenv==1.1.1
python-multipart==0.0.20
PyYAML==6.0.3
referencing==0.37.0
regex==2025.9.18
reportlab==4.2.5
requests==2.32.5
requests-toolbelt==1.0.0
rich==14.2.0
rpds-py==0.30.0
scikit-learn==1.7.2
scipy==1.16.2
screeninfo==0.8.1
setuptools==80.9.0
six==1.17.0
skia-pathops==0.9.0
sniffio==1.3.1
soupsieve==2.8
SQLAlchemy==2.0.43
sqlparse==0.5.3
srt==3.5.3
sse-starlette==3.0.3
stack-data==0.6.3
starlette==0.50.0
svgelements==1.9.6
sympy==1.14.0
tenacity==9.1.2
threadpoolctl==3.6.0
tiktoken==0.11.0
tinycss2==1.4.0
tqdm==4.67.1
traitlets==5.14.3
typing-inspect==0.9.0
typing-inspection==0.4.2
typing_extensions==4.15.0
urllib3==2.5.0
uvicorn==0.38.0
watchdog==6.0.0
wcwidth==0.2.14
webencodings==0.5.1
yarl==1.20.1
zstandard==0.25.0
